{% extends 'base_listing.html.twig' %}

{% block title %}Liste des prestaires{% endblock %}

{% block body %}
    {% block content %}

    <div class="row">
        {% for provider in providers %}
        <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="strip grid">
                <figure>
                        <a href="#"><img src="{{ asset('assets/img/location_1.jpg') }}" class="img-fluid" alt=""><div class="read_more"><span>En savoir plus ...</span></div></a>
                        {% for category in provider.service %}
                            <small>{{ category.name }}</small>
                        {% endfor %}
                </figure>
                <div class="wrapper">
                    {#{% set url = path('provider_show',{'id':provider.id}) %}#}
                    {#<h3><a href="{{ url }}">{{ provider.name }}</a></h3>#}
                    <h3><a href="#">{{ provider.name }}</a></h3>

                        <p>{{ provider.address }} <br/>
                        {{ provider.postalCode }} - {{ provider.locality }} <br/>
                        <b>Tel.:</b> {{ provider.phone }}<br/>
                        <b>Email:</b> <a href="mailto:{{ provider.email }}">{{ provider.email }}</a></p>


                    <a href="{{ provider.web }}" target="_blank">{{ provider.web }}</a>
                </div>
                <ul>
                    {#<li><span class="loc_open">Now Open</span></li>#}
                    {% if provider.comments|length >0 %}
                        {% include 'partials/rating.html.twig' with {'rating': provider.avgRatings} %}
                    {% else %}
                        <small>Pas encore noté</small>
                    {% endif %}
                    {#<li><div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div></li>#}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
{% endblock %}
