{% extends 'base.html.twig' %}

{% block title %}Proposition n° {{ execution.id }}{% endblock %}

{% block body %}

    {% block content %}
        <div class="container">
            <h1>Votre proposition de service n° {{ execution.id }}</h1>

                {#{% if app.request.query.get('withAlert') %}#}
                    {#<div class="alert alert-success">#}
                       {#<p>Félicitation, vos services ont été proposés à {{ execution.demand.customer.fullName }} !!</p>#}
                    {#</div>#}

                {#{% endif %}#}

                <div class="row">
                    <div class="col">
                        <div class="alert alert-light">
                            <h2>Détails </h2>
                                <dl class="row">
                                    <dt class="col-md-4">Numéro</dt>
                                    <dt class="col-md-8">{{ execution.id }}</dt>
                                    <dt class="col-md-4">Date de début :</dt>
                                    <dt class="col-md-8">{{ execution.startDate | date('d/m/Y') }}</dt>
                                    <dt class="col-md-4">Date de fin :</dt>
                                    <dt class="col-md-8">{{ execution.enDate | date('d/m/Y') }}</dt>
                                    <dt class="col-md-4">Montant :</dt>
                                    <dt class="col-md-8">{{ execution.amount }} &euro;</dt>
                                    <dt class="col-md-4">Commentaire :</dt>
                                    <dt class="col-md-8">{{ execution.comment | default('Aucun commentaire')}}</dt>
                                </dl>
                            <hr>

                            <h2 class="alert-heading">Demandeur :</h2>

                            <div class="row">

                                <div class="col-3">
                                    Photo du demandeur {# photo, avatar du demandeur#}
                                </div>

                                <div class="col-9">
                                    <h4><a href="#">{{ execution.demand.customer.fullName }}</a></h4>
                                    {#<h4><a href="{{ path('user_show', {'id': execution.demand.customer.id}) }}">{{ execution.demand.customer.fullName }}</a></h4>#}
                                    <span class="badge badge-primary">{{ execution.demand.customer.demands|length }} annonce(s)</span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="alert alert-light">
                                    {#{% if is_granted('ROLE_ADMIN') %}#}

                                     <h3 class="alert-heading">Laissez nous un commentaire sur le prestataire</h3>
                                        {%  if date() > date(execution.enDate) %}
                                            {% set comment = execution.provider.commentFromAuthor(app.user) %}
                                            {% if comment is not null %}
                                                <blockquote>
                                                    {{ comment.content }}
                                                </blockquote>
                                                <strong>Note :</strong> {% include 'partials/rating.html.twig' with {'rating': comment.rating}%}
                                            {% else %}
                                                {{ form_start(form) }}
                                                {{ form_widget(form) }}
                                                <button type="submit" class="btn btn-success">Confirmer !</button>
                                                {{ form_end(form) }}
                                            {% endif %}

                                        {% else %}
                                            <p>Vous ne pouvez pas commenter ce service tant qu'il n'est pas complètement exécuté !</p>
                                        {% endif %}
                                    {#{% endif %}#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="alert alert-light">
                            <h2 class="alert-heading">Intitulé de la demande :</h2>
                            <h4>
                                <a href="{{ path('demands_show', {'id':execution.demand.id}) }}">{{ execution.demand.title }}</a>
                            </h4>
                                {{ execution.demand.description | raw }}
                        </div>
                    </div>
                </div>
        </div>

    {% endblock %}
{% endblock %}
