{% extends 'base.html.twig' %}

{% block title %}Proposition n° {{ execution.id }}{% endblock %}

{% block body %}


    {% block content %}
        <div class="container">
            <h1>Votre proposition de service n° {{ execution.id }}</h1>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-light">
                            <h2>Détails </h2>
                                <dl class="row">
                                    <dt class="col-md-4">Numéro</dt>
                                    <dt class="col-md-8">{{ execution.id }}</dt>
                                    <dt class="col-md-4">Date de début :</dt>
                                    <dt class="col-md-8">{{ execution.startDate | date('d/m/Y') }}</dt>
                                    <dt class="col-md-4">Date de fin :</dt>
                                    <dt class="col-md-8">{{ execution.enDate | date('d/m/Y') }}</dt>
                                    <dt class="col-md-4">Montant :</dt>
                                    <dt class="col-md-8">{{ execution.amount }} &euro;</dt>
                                    <dt class="col-md-4">Commentaire :</dt>
                                    <dt class="col-md-8">{{ execution.comment }}</dt>
                                </dl>
                            <hr>

                            <h2 class="alert-heading">Demandeur :</h2>

                            <div class="row">

                                <div class="col-3">
                                    Photo du demandeur {# photo, avatar du demandeur#}
                                </div>

                                <div class="col-9">
                                    <h4><a href="{{ path('user_show', {'id': execution.demand.customer.id}) }}">{{ execution.demand.customer.fullName }}</a></h4>
                                    <span class="badge badge-primary">{{ execution.demand.customer.demands|length }} annonce(s)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="alert alert-light">
                            <h2 class="alert-heading">Intitulé de la demande :</h2>
                            <h4>
                                <a href="{{ path('demands_show', {'id':execution.demand.id}) }}">{{ execution.demand.title }}</a>
                            </h4>
                                {{ execution.demand.description | raw }}
                        </div>
                    </div>
                </div>
        </div>

    {% endblock %}
{% endblock %}
