{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% block content %}

    <div class="container margin_60_35">
        <div class="main_title_3">
            <span></span>
            <h2>Les dernières demandes</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            <a href="{{ path('demands_index') }}">Toutes les demandes</a>
        </div>
        <div class="row add_bottom_30">
            <div class="col-lg-3 col-sm-6">
                <a href="detail-shop.html" class="grid_item small">
                    <figure>
                        <img src="{{  asset('assets/img/shop_1.jpg') }}" alt="">
                        <div class="info">
                            <h3>Victoria Secretes</h3>
                        </div>
                    </figure>
                </a>
            </div>


        </div>
        <!-- /row -->

        <div class="main_title_3">
            <span></span>
            <h2>Les prestataires les mieux notés</h2>
            <p></p>
            <a href="{{ path('profile_listpro') }}">Tous les prestataires</a>
        </div>
        <div class="row add_bottom_30">
            {% for data in providers %}
            <div class="col-lg-3 col-sm-6">
                <a href="detail-hotel.html" class="grid_item small">
                    <figure>
                        <img src="{{  asset('assets/img/hotel_1.jpg') }}" alt="">
                        <div class="info">
                            {#<div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>#}
                            <strong>{% include 'partials/rating.html.twig' with {'rating' : data.provider.avgRatings} %}</strong>
                            <h3>{{ data.provider.name }} - x réalisations</h3>
                        </div>
                    </figure>
                </a>
            </div>
            {% endfor %}


        </div>
        <!-- /row -->

    </div>
        <!-- /container -->

    {% endblock %}

{% endblock %}
