{% extends 'admin/base.html.twig' %}
{% block title %}Modification de la province {{ province.name }}{% endblock %}

{% block body %}
    {% block content %}
        <div class="container">
            <h1 class="my-5">Modification de la province : {{ province.name }}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">
                <i class="icon-ok"> Enregistrez les modifications</i>

            </button>
            {{ form_end(form) }}
        </div>
    {% endblock %}
{% endblock %}