<header class="header menu_fixed">
    <div id="logo">
        <a href="{{ path('home') }}" title="Sparker - Directory and listings template">
            <img src="{{ asset('assets/img/logo_png_white.png') }}" width="211" height="53" alt="" class="logo_normal">
            <img src="{{ asset('assets/img/logo_png_blue.png') }}" width="211" height="53" alt="" class="logo_sticky">
        </a>
    </div>

    <!-- /top_menu -->
    <a href="#menu" class="btn_mobile">
        <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </a>
    <nav id="menu" class="main-menu">
        <ul>
            <li><span><a href="{{ path('home') }}">Accueil</a></span>

            </li>
            <li><span><a href="{{ path('demands_index') }}">Liste des annonces</a></span>
            <li><span><a href="{{ path('profile_listpro') }}">Prestataires</a></span>

            </li>

                {% if app.user %}
                    {% if is_granted('ROLE_CUSTOMER') %}
                        <li><a href="{{ path('demands_create') }}" class="btn btn-success">Créer un annonce</a></li>
                    {% endif %}
                    <li><a href="{{ path('account_profile') }}" class="btn btn-info">Mon compte</a>
                        <ul>
                            <li>
                                {% if is_granted('ROLE_CUSTOMER') %}
                                    <a href="#">Mes demandes</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_granted('ROLE_PROVIDER') %}
                                    <a href="{{ path('profile_executions') }}">Mes Services</a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="{{ path('account_logout') }}" id="log-out" class="icon-logout" title="Se déconnecter">Se déconnecter</a>
                            </li>
                        </ul>
                    </li>


                {% else %}
                    <li><a href="{{ path('register_temp') }}" class="btn_add">S'inscrire</a></li>
                    <li><a href="{{ path('account_login') }}" class="login"></a>Se Connecter</li>
                {% endif %}


        </ul>
    </nav>
</header>
<!-- /header -->
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw}}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
