<header class="header menu_fixed">
    <div id="logo">
        <a href="{{ path('home') }}" title="Sparker - Directory and listings template">
            <img src="{{ asset('assets/img/logo_png_white.png') }}" width="211" height="53" alt="" class="logo_normal">
            <img src="{{ asset('assets/img/logo_png_blue.png') }}" width="211" height="53" alt="" class="logo_sticky">
        </a>
    </div>

    <!-- /top_menu -->
    <a href="#menu" class="btn_mobile">
        <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </a>
    <nav id="menu" class="main-menu">
        <ul>
            <li><span><a href="{{ path('home') }}">Accueil</a></span>
                {#<ul>#}
                    {#<li><a href="index.html">Home version 1</a></li>#}
                    {#<li><a href="index-2.html">Home version 2</a></li>#}
                    {#<li><a href="index-3.html">Home version 3</a></li>#}
                    {#<li><a href="index-4.html">Home version 4</a></li>#}
                    {#<li><a href="index-5.html">Home version 5</a></li>#}
                    {#<li><a href="index-6.html">Home version 6 (GDPR)</a></li>#}
                {#</ul>#}
            </li>
            <li><span><a href="{{ path('demands_index') }}">Liste des annonces</a></span>
            <li><span><a href="{{ path('profile_listpro') }}">Prestataires</a></span>
                <!--<ul>
                    <li>
                        <span><a href="#0">Grid Layout</a></span>
                        <ul>
                            <li><a href="grid-listings-filterscol-search-aside.html">Sidebar+Search mobile 1</a></li>
                            <li><a href="grid-listings-filterstop-search-aside.html">Full+Search mobile 1</a></li>
                            <li><a href="grid-listings-filterscol.html">Sidebar+Search mobile 2</a></li>
                            <li><a href="grid-listings-filterstop.html">Full+Search mobile 2</a></li>
                            <li><a href="grid-listings-isotope.html">Full+Isotope filter</a></li>
                        </ul>
                    </li>
                    <li>
                        <span><a href="#0">Row Layout</a></span>
                        <ul>
                            <li><a href="row-listings-filterscol-search-aside.html">Sidebar+Search mobile 1</a></li>
                            <li><a href="row-listings-filterstop-search-aside.html">Full+Search mobile 1</a></li>
                            <li><a href="row-listings-filterscol.html">Sidebar+Search mobile 2</a></li>
                            <li><a href="row-listings-filterstop.html">Full+Search mobile 2</a></li>
                            <li><a href="row-listings-isotope.html">Full+Isotope filter</a></li>
                        </ul>
                    </li>
                    <li><a href="listing-map.html">Listing Map</a></li>
                    <li>
                        <span><a href="#0">Detail pages</a></span>
                        <ul>
                            <li><a href="detail-hotel.html">Detail page 1</a></li>
                            <li><a href="detail-restaurant.html">Detail page 2</a></li>
                            <li><a href="detail-shop.html">Detail page 3</a></li>
                        </ul>
                    </li>
                    <li><a href="bookings.html">Bookings - Purchases</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="confirm.html">Confirm</a></li>
                </ul>-->
            </li>



                {% if app.user %}
                    <li><a href="{{ path('demands_create') }}" class="btn btn-success">Créer un annonce</a></li>
                    <li><a href="{{ path('account_profile') }}" class="btn btn-info">Mon compte</a>
                        <ul>
                            <li>

                                <a href="{{ path('profile_executions') }}">Mes Services</a>

                            </li>
                            <li>
                                <a href="{{ path('account_logout') }}" id="log-out" class="icon-logout" title="Se déconnecter">Se déconnecter</a>
                            </li>
                        </ul>
                    </li>


                {% else %}
                    <li><a href="{{ path('register_temp') }}" class="btn_add">S'inscrire</a></li>
                    <li><a href="{{ path('account_login') }}" class="login"></a>Se Connecter</li>
                {% endif %}



        </ul>
    </nav>
</header>
<!-- /header -->
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw}}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
