{% extends 'base.html.twig' %}

{% block title %} Création de votre demande{% endblock %}

{% block body %}
    {% block content %}
        <div class="container">
            <h1 class="my-5">- Création d'une annonce -</h1>
            <hr>

            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    <div class="alert alert-light">
                        <h2>Informations générales</h2>
                        <hr>
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }}
                    </div>

                </div>
                <div class="col">
                    <div class="alert alert-light">
                        <h2>Images de l'annonce</h2>
                        <hr>
                        {{ form_row(form.logoFilename) }}
                        {#<button type="submit" class="btn btn-primary float-right">#}
                            {#<i class="icon-plus">Ajouter une image</i>#}
                        {#</button>#}
                    </div>
                </div>
            </div>

            <div class="alert alert-primary clearfix">
                <h2 class="alert-heading">Sauvegarder mon annonce</h2>
                <p>Vous êtes sur le point de créer votre annonce, vérifiez qu'elle soit claire et précise
                afin de trouver les meilleurs prestataires pour votre demande.</p>
                <button type="submit" class="btn btn-primary float-right">
                    <i class="icon-ok">Créez l'annonce</i>
                </button>
            </div>

            {{ form_end(form) }}


        </div>

    {% endblock %}
{% endblock %}
