{% extends 'base.html.twig' %}



{% block body %}
    {% block content %}
        <div class="container">

            {% if app.user and app.user == demand.customer %}
                <a href="{{ path('demands_edit', {'id':demand.id}) }}" class="btn btn-secondary">Modifier l'annonce</a>
                <a href="{{ path('demands_delete', {'id':demand.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir supprimer la demande ? : {{ demand.title }}')">Supprimer l'annonce</a>
            {% endif %}

            <h1>- Détail de la demande -</h1>
            <hr>
            <div class="row">
                {% set d = demand.customer %}

                <h2>{{ demand.title }}</h2>
                <p>{{ demand.description|raw }}</p>


                <a href="{{ path('execution_create', {'id': demand.id}) }}" class="btn btn-primary">Proposer mes services</a>





            </div>


            <!-- A régler, affichage du nom de l'éditeur de l'annonce -->

           {# <div class="row">
                <h3>Demandeur : </h3>

                <a href="{{ path('user_show',{'id':demand.customer.id}) }}"><h4>{{ d.fullName}}</h4></a>
            </div>#}

        </div>

    {% endblock %}
{% endblock %}
