{% extends 'base_listing.html.twig' %}



{% block body %}
    {% block content %}
        <div class="container">
            <h1>- Détail de la demande -</h1>
                <hr>
                <h2 class="btn-primary">{{ demand.title }}</h2>
                <div class="row">

                    <div class="col">
                        {% if app.user and app.user == demand.customer %}
                            <a href="{{ path('demands_edit', {'id':demand.id}) }}" class="btn btn-secondary">Modifier l'annonce</a>
                            <a href="{{ path('demands_delete', {'id':demand.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir supprimer la demande ? : {{ demand.title }}')">Supprimer l'annonce</a>
                        {% endif %}

                        {% set d = demand.customer %}


                        <p>{{ demand.description|raw }}</p>

                        {% if is_granted('ROLE_PROVIDER') %}
                            <a href="{{ path('execution_create', {'id': demand.id}) }}" class="btn btn-primary">Proposer mes services</a>
                        {% endif %}
                    </div>

                    <div class="col">
                        <img src="/assets/img/imageDemand/{{ demand.ImageFront }}" >
                    </div>
                </div>


            <!-- A régler, affichage du nom de l'éditeur de l'annonce -->

           {# <div class="row">
                <h3>Demandeur : </h3>

                <a href="{{ path('user_show',{'id':demand.customer.id}) }}"><h4>{{ d.fullName}}</h4></a>
            </div>#}

        </div>

    {% endblock %}
{% endblock %}
